<a href="https://colab.research.google.com/github/mwmikewise/customer_churn_ANN/blob/main/Artificial_Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__

'2.8.2'

## Part 1 - Data Preprocessing

### Importing the dataset

In [ ]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [ ]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [ ]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [ ]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

### Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [ ]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

### Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

### Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5678 - accuracy: 0.7897
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4927 - accuracy: 0.7961
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4584 - accuracy: 0.7976
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4410 - accuracy: 0.8015
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4334 - accuracy: 0.8036
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4288 - accuracy: 0.8073
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4258 - accuracy: 0.8105
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4230 - accuracy: 0.8136
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4204 - accuracy: 0.8171
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4179 - accuracy: 0.8200
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4146 - accuracy: 0.8225
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4123 - accuracy: 0.8240
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4101 - accuracy: 0.8282
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4076 - accuracy: 0.8278
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4061 - accuracy: 0.8288
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4042 - accuracy: 0.8315
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4030 - accuracy: 0.8320
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4020 - accuracy: 0.8330
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4017 - accuracy: 0.8325
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4010 - accuracy: 0.8329
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4005 - accuracy: 0.8320
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3998 - accuracy: 0.8335
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3995 - accuracy: 0.8328
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3993 - accuracy: 0.8340
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3986 - accuracy: 0.8335
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3977 - accuracy: 0.8336
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3982 - accuracy: 0.8349
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3976 - accuracy: 0.8336
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3976 - accuracy: 0.8345
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3969 - accuracy: 0.8346
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3969 - accuracy: 0.8342
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3964 - accuracy: 0.8350
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3959 - accuracy: 0.8335
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3955 - accuracy: 0.8350
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3953 - accuracy: 0.8341
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3949 - accuracy: 0.8341
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3946 - accuracy: 0.8344
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3940 - accuracy: 0.8353
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3938 - accuracy: 0.8342
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.8350
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3929 - accuracy: 0.8345
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3920 - accuracy: 0.8350
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3915 - accuracy: 0.8355
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3908 - accuracy: 0.8350
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3903 - accuracy: 0.8351
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3894 - accuracy: 0.8346
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3887 - accuracy: 0.8347
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3875 - accuracy: 0.8364
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3864 - accuracy: 0.8354
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3850 - accuracy: 0.8360
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3835 - accuracy: 0.8379
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3819 - accuracy: 0.8386
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3804 - accuracy: 0.8396
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3793 - accuracy: 0.8406
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8401
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3772 - accuracy: 0.8414
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3758 - accuracy: 0.8426
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3751 - accuracy: 0.8428
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3735 - accuracy: 0.8434
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3731 - accuracy: 0.8441
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3715 - accuracy: 0.8445
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3705 - accuracy: 0.8446
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3688 - accuracy: 0.8454
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3672 - accuracy: 0.8474
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3653 - accuracy: 0.8478
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3630 - accuracy: 0.8491
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3602 - accuracy: 0.8504
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3578 - accuracy: 0.8508
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3557 - accuracy: 0.8521
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3534 - accuracy: 0.8545
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3518 - accuracy: 0.8543
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3501 - accuracy: 0.8556
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3481 - accuracy: 0.8569
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8586
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8576
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8577
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8586
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8602
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8595
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8605
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8599
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8621
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8616
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8630
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8625
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8631
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8637
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8621
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8621
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8627
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8641
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8641
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8634
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8646
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8626
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8639
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8635
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8643
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8639
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8641

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

In [ ]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer?

In [ ]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

### Predicting the Test set results

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1514   81]
 [ 194  211]]

0.8625